# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
venv/
.venv/

# Project specific (Outputs)
*.png
*.pdf
*.pptx
~$*
result.md
result_*.md
/tests/*.png
github_docs/

# System
.DS_Store

# IDE
.vscode/
.idea/

# Gemini tmp
.gemini/