# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
venv/
.venv/

# Project specific (Outputs)
output/
*.png
*.pdf
*.pptx
~$*
/tests/*.png
github_docs/

# System
.DS_Store

# IDE
.vscode/
.idea/

# Gemini tmp
.gemini/openclaw_repo/
